/* Generell styling, gjeld for alle sider */

html, body {
    height: 85%;
}

body {
    background-color: rgb(101, 195, 253);
    font-family: Verdana, Geneva, sans-serif;
}
button {
    font-family: Verdana, Geneva, sans-serif;
}
header {
    text-align: center;
    height: auto;
}
nav {
    border: 5px solid rgb(197, 197, 197);
    background-color: rgb(197, 197, 197);
    border-radius: 15px;
    width: 70%;
    height: auto;
    margin: auto;
}
nav ul {
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
    font-size: 18px;
    font-family: Verdana, Geneva, sans-serif;
}
nav ul li a {
    text-decoration: none;
    color: rgb(88, 62, 0);
    margin-right: 10px;
}
nav ul li a:hover{
    color: white;
}
footer {
    height: auto;
    text-align: center;
    position: relative;
    border-radius: 15px;
    border: 5px solid rgb(197, 197, 197);
    background-color: rgb(197, 197, 197);
    color: rgb(88, 62, 0);
    margin: 20px;
}
footer button {
    color: rgb(88, 62, 0);
}

/* Styling for framsida: */

.start_overskrift {
    font-size: 35px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, sans-serif;
}
.start_content {
    min-height: 80%;
    margin: 20px;
}
.start_tekst {
    width: 48%;
}
.start_hogre {
    float: right;
    width: 50%;
    text-align: center;
}
.start_hogre img {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}


/* Styling for Stian si side */

.stian_overskrift {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, sans-serif;
}
.stian_div {
    min-height: 80%;
    margin: 20px;
}
.stian_content {
    float: right;
    width: 63%;
}
.stian_content table {
    border-collapse: collapse;
}
.stian_spel table tr th {
    border: 2px solid black;
    padding: 5px;
}
.stian_spel table tr td {
    border: 2px solid black;
    padding: 5px;
}
.stian_bilder {
    width: 35%;
}
.stian_bilder img {
    border: 2px solid grey;
    border-radius: 5px;
    width: 100%;
}
.stian_tekst {
    height: 50%;
}
.stian_interesser {
    width: 10%;
    float: left;
}
.stian_spel {
    width: 40%;
    margin: auto;
}

/*styling for Gudsteinn's side*/

.GuddiOverskrift{
    font-family: 'Caesar Dressing';font-size: 400%;
}
.GuddiBilde {
    margin-right: 30px;
    width: 30%;
}
.GuddiBilde img {
    width: 100%;
    float: left;
    border: 5px solid grey;
    border-radius: 20px;

}
.GuddiText {
        font-size: 120%;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
        float: right;
        width: 55%;

}
.GuddiBorder{
    position: relative;
    border: 10px solid grey;
    border-radius: 5px;
    height: 150%;
    margin: 20px;
    padding: 10px;
}
.GuddiTable table{
    position: absolute;
    bottom: 200px;
    border: 2px solid black;
    border-collapse: collapse;
}
.GuddiTable table tr th, td{
    border: 2px solid black;
    padding: 10px;
}
.GuddiOverskrift2{
    font-size: 230%;
    position: absolute;
    bottom: 350px;
}

/* Styling for Anders si side */

.Aoverskrift {
    font-family: 'Audiowide';font-size: 560%;
    }
.ommeg {
    margin: 20px;
    border: 4px solid grey;
    min-height: 80%;
    }   
.andersbilde {
    width: 40%;
    border: 2px;
    }
.andersbilde img {
    width: 100%;
}
.megtxt { 
    float: right;
    width: 58%;
    border: 2px dotted;
}
.tabell table {
    border-collapse: collapse;  
    margin: auto;   
}
.tabell table tr th, td{
    border: 1px solid black;
    padding: 10px;
}
.tabell table tr td img{
    width: 200px; 
    height: 100px;
}
